.clearfix{clear: both}
.space10{width: 100%; height: 10px}
.space20{width: 100%; height: 20px}
.space30{width: 100%; height: 30px}
.space40{width: 100%; height: 40px}
.space50{width: 100%; height: 50px}
.space60{width: 100%; height: 60px}
.space70{width: 100%; height: 70px}
.space80{width: 100%; height: 80px}
:root{
	--theme-color :powderblue;
	--font-color : #000; 
	--font-head-color : #000; 
}
body{margin:0;}
header{width: 100%; height: 90px; background: var(--theme-color)}
header li a{font-size:18px;color: #000;}
header li a:hover{color:#EF7D00 !important}



footer{width:100%;padding:40px 0px;background-image: url(https://images.pexels.com/photos/236380/pexels-photo-236380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-size:cover;background-repeat: no-repeat;position: relative;}
footer .header-box h2{font-size:24px;font-weight:700}
footer .header-box p{color:#ffffff !important;}
footer .header-box li{list-style: none;}
footer .header-box li a{color:#ffffff !important;text-decoration:none;font-size:16px}
footer .social img{height:42px;width: 42px;margin-right:5px}
.footer-bottom{height:70px;width: 100%;background:#000;text-align:center;padding-top:24px}
.footer-bottom a{color:#ffffff;text-decoration:none;}