.head-title{}
.span-bold{font-weight: bold}
.head-title h1{text-align: center; text-transform: uppercase; font-size: 22px; font-color:var(--font-head-color); font-weight: 700;}
.sa-banner{width: 100%; height: calc(75vh - 90px); background:transparent; position: relative;}
.sa-banner .img{ width: 100%; height: 100% }
.sa-banner .img img{ width: 100%; height: 100%; filter: brightness(75%); }
.sa-banner .sa-banner-info{position: absolute;left: 0; top: 50%;width: 100%; transform: translateY(-50%);}
.sa-banner .sa-banner-info h1{color: #fff; text-align: center;font-size: 48px; font-weight: bold; text-transform: uppercase;
	 }
.sa-banner .sa-banner-info p{color: #fff; text-align: center;}
.sa-contact-info{margin-top: 50px;}
.sa-contact-info h1{text-align: center; font-size: 46px; font-weight: bold; text-transform: uppercase;}
.sa-contact-info p{font-weight: bold; font-size:21px ;}
.sa-map{width: 100%; height: 400px;}
.contact-list{}
.contact-list ul{list-style: none; margin-left: 60px;}
.contact-list ul li{font-size: 20px;}
.contact-list ul li i{padding-right: 8px;}
.gallery{margin-top: 40px;}
.gallery .gal-mg{width: 100%; height: 200px; }
.gallery .gal-mg img{width: 100%; height: 200px; }
.ashoklogo{position: absolute; height: 80px; width: 80px; top:5px;left: -80px;}
.healthlogo{position: absolute; height: 80px; width: 120px; top:5px;right: -80px;}
@media only screen and (max-width : 767px) {
	.ashoklogo{width: 50px; height: 50px; left: 0; top: 20px;}
	.healthlogo{width: 50px; height: 50px; right: 0; top: 20px;}
	.home-slide .pf-carousel-slide .pf-carousel-item{height: calc(50vh - 90px); }
	.resp{font-size: 14px !important; margin-left: 47px; padding-top: 17px;}
	.home-slide .pf-carousel-slide .pf-carousel-item .pf-carousel-content{padding-top: 30px; padding-right: 4px;}
	.home-slide .pf-carousel-content h2{font-size: 25px;}
	.home-slide .pf-carousel-content h2 span{font-size: 38px;}
	.sa-banner{height: calc(50vh - 90px);}
	.service-first-part .f-content h2{padding: 5px;}
	.service-third-part .t-content img{margin-left: 50%; transform: translateX(-50%);}
	.service-fourth-part .fh-content{margin-bottom: 55px; width: 100%}
	.gallery .gal-mg{margin-bottom: 20px;}
	.sa-contact-info h1{font-size: 36px;}
	.contact-list .hulao{margin-left: 70px !important;}
	.contact-list ul li{font-size: 16px;}
	.sa-contact-info p{font-weight: unset}
	.navbar-toggler{padding: .25rem .30rem; margin-right: 45px; margin-top: 8px;}

}